<h2>
    Enter  activity
</h2>

<form action="/submitActivity" method="POST">

<div>
    <label for="activitydesc">Activity</label>
    <input type="text" id="activitydesc" name="actdesc" autocomplete="off">
</div>


<div>
    <button type="submit">Submit</button>
</div>

</form>